@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@keyframes alpha-in{0%{opacity:0;}100%{opacity:100%;}}
*{scrollbar-width:thin;font-family:'Lexend Deca',sans-serif;max-width:100%;}

::-moz-selection,::selection{background-color:#002a88;}
body{background:#000000;color:#d8e0e8;}

.gibberish{font-family:'Roboto Mono',monospace;}
a{outline:0;color:#17C25B;}
.q{font-weight:bold;color:#17C25B;}

.code{--bracket-color:#9098a0;background:#0D1216;color:#d0d8e0;border-radius:12px;padding:12px 16px 12px 16px;overflow:auto;scrollbar-width:none;}
.code.top{border-radius:12px 12px 0 0;border-bottom:solid 2px#000000;}
.code.bottom{border-radius:0 0 12px 12px;}
.code.center{border-radius:0;border-bottom:solid 2px#000000;}
.code,.code *{font-family:'Roboto Mono',monospace;white-space:nowrap;}
.code .s{margin-left:1ch;}